#main-section{
    width: 85%; 
    margin-right: auto; 
    margin-left: auto; 
    margin-top: 75px;
    font-family: BlinkMacSystemFont, 
    "Segoe UI", 
    Roboto, 
    Oxygen-Sans, 
    Ubuntu, 
    Cantarell, 
    "Helvetica Neue", 
    sans-serif;
}

#currency-img{
    max-width: 30px;
    height: auto;
}

.currency-symbol{
    color: grey;
    font-size: 15px;
}


#loading_ghost{
    text-align: center;
}

.loading-gif{
    height: 25px;
    width: auto;
}