<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Cryptos</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">

</head>
<body>
    <section id="main-section">
        <div id="main-timer">
            <p>[[hours]] : [[ minutes ]] : [[ seconds ]]</p>
        </div>
        <div id="table-cryptos">
            <table >
                <thead>
                    <tr>
                        <th>Rank</th>
                        <th>Name</th>
                        <th>Price</th>
                        <th>Currency</th>
                    </tr>
                </thead>
                <tbody>
                    <tr v-for="item in infos" :key="item.id" v-if="item !== null">
                        <td>#[[ item.market_cap_rank ]]</td> 
                        <td class="currency-id" v-bind:id="item.id">
                            <img id=currency-img v-bind:src="[[ item.image ]]">
                            <a :href="/api/" v-on:click="displayGraph">[[ item.name ]]</a>
                            <span class="currency-symbol">[[ item.symbol.toUpperCase() ]]</span>
                            
                        </td> 
                        <td class="currentPrice">[[ item.current_price ]]</td> 
                        <td>
                            <select id="currency" name="currency" @change="changeCurrency($event)">
                                <option value="USD" selected>USD</option>
                                <option value="EUR">EUR</option>
                                <option value="GBP">GBP</option>
                                <option value="CHF">CHF</option>
                                <option value="HKD">HKD</option>
                                <option value="CNY">CNY</option>
                            </select>
                        </td> 
                     </tr>
                </tbody>
            </table>
            <button v-on:click="showMore">Show 10 more</button> <br />
            <p>[[ test ]]</p>
            <div><a href="" v-on:click.prevent="showMore">Show 10 more</a></div>

        </div>
        
    </section>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="{{url_for('static', filename='js/main.js')}}"></script>

</body>
</html>
