<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <title>Test axios</title>
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="https://unpkg.com/@picocss/pico@latest/css/pico.min.css">
    <link rel="stylesheet" href="{{url_for('static', filename='css/styles.css')}}">

</head>
<body>

    

    </section>
    <section style="width: 85%; margin-right: auto; margin-left: auto; margin-top: 75px;">
        <div>
            <table id="main-tab" role="grid">
                <thead>
                    <tr>
                        {%for tab in tab_head %}
                            <td>{{ tab }}</td>
                        {% endfor %}

                    </tr>
                </thead>
                <tbody>
                    {% for data in datas %}
                        {% if loop.last %}
                        <tr id="last-row">
                        {% else %}
                        <tr>
                        {% endif %}

                            <td>{{ data['rank'] }}</td>
                            <td><a href="" id="{{data['id']}}" class="link_id">{{ data['name'] }}</a></td>
                            <td>{{ data['priceUsd'] }}</td>
                            <td>{{ data['currency'] }}</td>
                        </tr>
                    {% endfor%}
                </tbody>
            </table>
            <div id="loading_ghost">
                <img src="{{url_for('static', filename='img/loading_ghost.gif')}}">
                <p>Loading ...</p>
            </div>
            <div><a href="" id="show_more" data-limit="10" data-offset="10">Show more</a> </div>
          </div>
    </section>

    <section>
        <div id="app">
            
            Message: [[ info ]]
        </div>

    </section>

    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    <script src="https://cdn.jsdelivr.net/npm/vue@2/dist/vue.js"></script>
    <script src="{{url_for('static', filename='js/main.js')}}"></script>


</body>
</html>
